[2018-10-10 09:55] deptno opened #1 "Error in local server env"
Hi @TimothyJones, thank you for your share code.

I'm follow [2b](https://github.com/TimothyJones/github-cognito-openid-wrapper#2b-running-the-node-server) scenario

below is my configuration

I'm using local env, so I removed `/Prod`

<img width="659" alt="odic-config" src="https://user-images.githubusercontent.com/1223020/46728096-059f2080-ccbd-11e8-9536-c6adc304e28f.png">
<img width="593" alt="

[2018-10-10 11:48] TimothyJones commented on #1
*A side point - With the local dev server, you can use the "run discovery" button rather than typing in the URLs.*

To your main point - your login link should point at Cognito rather than github - using this endpoint:

https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html

It will look something like:

[code]

As the github app is configured to callback to cognito,

[2018-10-12 08:12] deptno commented on #1
Thank you for your advice.

I changed endpoint to
`https://<cognito domain>/oauth2/authorize`

with 4 query paramter
[code]

this redirect Github and I click `Authorize`

it redirects error page like below

<img width="697" alt="response-type-error" src="https://user-images.githubusercontent.com/1223020/46856569-c4844900-ce41-11e8-9f60-7c667a60abfd.png">

Do I action more?

[2018-10-22 05:28] TimothyJones commented on #1
That error is unrelated to this shim. It's between the Cognito hosted signin pages and your app, not between Congito and the shim.

The error means that the response code flow (which you're asking for) isn't an allowed OAuth Flow in your Cognito setup. You can fix this by ticking "Authorization code grant" under Allowed OAuth Flow in the AWS console when looking at your App client settings.

For m

[2018-11-08 19:26] SSKasture opened #3 "Cognito giving us error back invalid response token"
Hi @TimothyJones ,

This is question ,it's not error related to this shim,just want to know if you have some insight about it.

When our OAuth  application return code back to Cognito , oauth2/idpresponse end point.
We are getting error
``` http://localhost:8080/?error_description=Bad+token+response%3A+HTTP%2F1.1+400+Bad+Request%2C+entity%3A+Failure%3A+%27Request+failed+with+status+code+400%27&err

[2018-11-24 22:45] DALDEI opened #4 "sam deploy missing RegionParameter"
running npm run deploy, there is an error when running sam deploy.
There needs be an additional parameter overide  RegionParameter=$REGION,  or a default set in the template.

Manually running the failed command with the region argument appears to work
(not tested yet, but the stack did run)

`sam deploy --region us-west-2 --template-file /moji/github-cognito-openid-wrapper/scripts/../serverless-o

[2018-11-25 15:19] DALDEI opened #5 "deploy fails if bucket exists"
If the bucket in config.sh already exists (either first time or during a update/redeploy) then deploy fails.
This is fixed by adding "|| true"  to the end of the "aws s3 mb" commande

I may get around to fixing both this and #4 and submit  a PR,
And by the way THANK YOU -- !~ THIS IS AWESOME IN SO MANY WAYS

[2018-11-25 19:29] TimothyJones commented on #5
Ah, nice catch. Thanks for the report!

A PR would be very welcome, if you have the time.

I’m glad the project is useful - thanks for the appreciation!

[2018-11-25 19:32] TimothyJones commented on #4
Ah, whoops. I have a default region set in my AWS config, which might be why it worked on mine. Thanks for the report!

[2018-11-26 04:48] TimothyJones commented on #3
I'm afraid I'm not sure. I would check with the cognito [documentation](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-userpools-server-contract-reference.html) to make sure that you're sending the correct parameters to the correct endpoint.

[2018-11-26 04:48] #3 closed

[2018-12-07 05:10] TimothyJones commented on #5
Fixed by #6. Thanks again!

[2018-12-07 05:10] #5 closed

[2018-12-10 00:19] TimothyJones commented on #4
I see the region parameter there in the deploy script:

https://github.com/TimothyJones/github-cognito-openid-wrapper/blob/master/scripts/deploy.sh#L24

Am I missing somewhere else that I've missed the parameter?

[2019-01-04 17:34] tobilg opened #7 "Question: Deployment with Serverless framework"
Thanks for your work on the project. As a frequent Serverless framework user, I'd like to get your POV if an (additional) deployment method via Serverless would make sense. If yes, I think I could create a `serverless.yml` for this project within a PR.

[2019-01-05 01:03] TimothyJones commented on #7
I think it would be great to have deployment scripts for Serverless. A PR would be very welcome!

I haven’t used it much myself - would you be able to also expand the readme with Serverless deploy instructions?

[2019-01-11 00:06] TimothyJones commented on #4
Closing because I think this is fixed, but please feel free to reopen if I missed something.

[2019-01-11 00:06] #4 closed

[2019-01-11 04:50] TimothyJones opened #8 "Users with more than 30 email addresses get their emails truncated"
The GitHub API paginates responses with more than 30 items (see https://developer.github.com/v3/#pagination).

This means that users who have more than 30 emails associated with their account might not have a primary email address (if their primary email address is on a later page).

As far as I know, no one has hit this, but we should fix it before they do.

[2019-01-11 04:53] TimothyJones opened #9 "Include GitHub API version header"
GitHub [now recommends](https://developer.github.com/v3/#current-version) including the API version in a header with all requests:

     Accept: application/vnd.github.v3+json

We should do this.

[2019-01-11 05:45] TimothyJones commented on #9
Fixed by 8dda68379beedffb871ee45d8484ce8f863d7b77, released as 1.1.0

[2019-01-11 05:45] #9 closed

[2019-01-21 04:37] cayblood opened #11 "Need troubleshooting recommendations after successful? install"
I've been able to follow your installation instructions successfully. After setting this up, deploying the lambda stack and API gateway, creating a new OIDC provider for it, creating a new Cognito app client, setting my github shim as its identity provider, and configuring an AWS Amplify app to use this app client for its auth, I'm currently getting the following error when trying to log in with m

[2019-01-21 04:48] cayblood commented on #11
More questions about what the app client settings need to be for each of these:
* Generate client secret
* Enable sign-in API for server-based authentication (ADMIN_NO_SRP_AUTH)Learn more.
* Only allow Custom Authentication (CUSTOM_AUTH_FLOW_ONLY)Learn more.
* Enable username-password (non-SRP) flow for app-based authentication (USER_PASSWORD_AUTH)

[2019-01-21 04:54] cayblood commented on #11
After creating a new app client and telling it not to generate a client secret, I'm no longer getting the previous error, just `Invalid username or password`. My github login requires MFA, so I'm wondering if that may also be affecting the result.

[2019-01-21 06:55] TimothyJones commented on #11
The required cognito setup should be descibed [here](https://github.com/TimothyJones/github-cognito-openid-wrapper#1-setup) and [here](https://github.com/TimothyJones/github-cognito-openid-wrapper#3-finalise-cognito-configuration). (I mention this because if it's not, I should update the documentation).

I think the only App Client setting you need is to ensure that your github identity provider i

[2019-01-21 07:01] TimothyJones commented on #11
You asked about these specific setttings:

* Generate client secret
* Enable sign-in API for server-based authentication (ADMIN_NO_SRP_AUTH)Learn more.
* Only allow Custom Authentication (CUSTOM_AUTH_FLOW_ONLY)Learn more.
* Enable username-password (non-SRP) flow for app-based authentication (USER_PASSWORD_AUTH)

I don't think these settings are relevant to this shim (because they're about your ap

[2019-01-22 06:08] cayblood commented on #11
Thanks for the detailed response! I did put the client id and secret into my config.sh file as directed. The error message I'm getting is being displayed on the boilerplate login page that I'm using as part of the AWS Amplify framework. I'm not getting redirected to the github login page.

[2019-03-06 22:20] jinman opened #12 "Could this wrapper be used with NetlifyCMS?"
Netlify CMS uses Github to store documents. It has Git Gateway to authenticate it to Git providers. I am wondering whether if we have a web app that is authenticated via Cognito as the identity provider to use NetlifyCMS, do we have to configure git-gateway to use this openid-wrapper? Has anyone tried this before?

[2019-03-07 00:21] TimothyJones commented on #12
I haven't done this (I'm not familiar with Netlify or Git Gateway), but a quick scan of [the docs]( https://www.netlify.com/docs/identity/) suggests that Netlify exposes OAuth2 endpoints. This means you could do:

`Your Site -> Cognito -> OpenID to OAuth Shim -> Netlify Identity -> Git Gateway -> GitHub`

Where `OpenID to OAuth Shim` was a modified version of this repository. Let me know if you'd

[2019-03-07 00:28] jinman commented on #12
My apologies. I was referring to NetlifyCMS [1] (and not Netlify service). NetlifyCMS is a open source CMS (React SPA that uses github as the store). I would like to use Cognito so Cognito's user pool users can automatically leverage NetlifyCMS. Since NetlifyCMS requires Github login, their docs say to install [Node-based OAUTH Clients](https://www.netlifycms.org/docs/authentication-backends/#exte

[2019-03-07 00:31] TimothyJones commented on #11
I'm going to close this because it doesn't seem related to this repository. Please feel free to reopen if this changes or you have anything to add.

[2019-03-07 00:31] #11 closed

[2019-03-07 02:29] TimothyJones commented on #12
Ah, thanks for the clarification. I think I understand now.

I think the short answer is maybe, but I think it will take some development work. I think you have to modify both one of the OAuth clients and this repository.

NetlifyCMS's external provider code looks like a modification of OAuth2, where instead of returning a token in the response, you need to do a `postMessage` which contains the Gi

[2019-03-07 02:38] TimothyJones commented on #12
This repository is for identity federation with GitHub. This means that in the design I've written out above (and if you're using this shim at all), then you are creating users in your user pool every time anyone logs in with GitHub. This may not be what you want - especially if you're wanting to use an existing user pool.

Another design that you could consider is modifying one of the OAuth clien

[2019-03-07 04:52] jinman commented on #12
Thank you very much for the detailed explanation. Now I understand it more clearly. I feel the second solution above might make more sense as once the cognito user has logged in from the existing set of user pool users and once it is successful, we somehow figure it out to store github credentials (one github user for userpool users) and store it somewhere in Lambda code and use that to authentica

[2019-03-15 04:09] TimothyJones commented on #12
I think if you're planning to use:

* Cognito as the login method for users
* A common github user for all logged in users

then this repository probably doesn't help you.

This repository converts GitHub's OAuth to OpenID for GitHub's [web flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). This means that users who are directed to this shim

[2019-03-15 04:09] #12 closed

[2019-05-15 11:44] TimothyJones commented on #7
Hello! Did you get anywhere with this? No stress, just I might close the issue if there's no PR coming.

[2019-05-16 08:58] tobilg commented on #7
@TimothyJones Sorry, this kind of skipped from my list of todos... Unfortunately, it looks like I won't have time to implement it soon. You can close the issue if you like.

[2019-06-04 06:18] TimothyJones commented on #7
No stress. A PR would still be welcome if you change your mind, but no need if you're busy 👍

[2019-06-04 06:18] #7 closed

[2019-07-02 12:50] clapas opened #14 "Autodiscovery issue"
I fixed the issue with the autodiscovery by moving the `jwks.json` endpoint into the `/.well-known` path, similar to the OpenIdDiscovery endpoint.

[2019-07-02 13:04] TimothyJones commented on #14
Aha! Thank you! Odd that it wouldn't pick it up from the discovery endpoint.

I'll fix this next time I have a free moment - unless you're able to make a PR?

[2019-07-26 12:48] #14 closed

[2019-09-04 12:59] Linus-Boehm commented on #3
@SSKasture Did you found a solution/reason for that?

[2019-09-04 13:02] TimothyJones commented on #3
You can also hit this if the flow you are requesting isn’t enabled in the cognito app client

[2019-09-04 13:12] Linus-Boehm commented on #3
I am using it on localhost with ngrok . The error seams to come from the POST /token endpoint
but cant see anything wrong
Error: `Failure: 'connect ECONNREFUSED 127.0.0.1:80'`
Payload:
[code]

[2019-10-28 06:28] TimothyJones opened #20 "Logging to splunk not an option from lambda"
PR #19 added an option to log to splunk. This option doesn't currently work from lambda deployments, because:

1) The environment variables are not passed through in `template.yml`
2) I'm not sure if any other lambda permissions would need to be added to allow the lambdas to access splunk (I don't use it myself).

[2019-10-28 06:30] TimothyJones opened #21 "Allow configuration of log level"
The log level is currently hard-coded in `logger.js`. An improvement would be to allow this to be configured without code changes.

The approach used in https://github.com/TimothyJones/github-cognito-openid-wrapper/pull/17 is nice, where the deployment stage and `SLS_DEBUG` state can also inform the log level.

[2019-10-28 06:32] TimothyJones opened #22 "Dev chore: Add prettier check and autoformat target"
Now that this repo is getting a few contributors, it would be good to:

1) build in a formatting check to ensure the code is formatted with prettier
2) Add an easy target for running the prettier formatter.

The format command is probably:

[code]

[2019-12-04 09:48] lolejar opened #23 "Bit uncomprehensive setup instructions"
Hello,

first I must admit I am not node developer and I am just following setup instructions in the README. I've setup user Pool, GitHub application and update config.sh. I am trying to deploy this project via API Gateway and Lambda. First thing that strikes me is that it is not mentioned in section 2a to source config.sh like in 2b. Is it not necessary ? Either way I still end up when running np

[2019-12-04 09:56] lolejar commented on #23
Further debug logs show following

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'test' ]
2 info using npm@6.12.1
3 info using node@v12.13.1
4 verbose run-script [ 'pretest', 'test', 'posttest' ]
5 info lifecycle github-cognito-openid-wrapper@1.1.0~pretest: github-cognito-openid-wrapper@1.1.0
6 info lifecycle github-cognito-openid-wrapper@1

[2019-12-04 16:15] TimothyJones commented on #23
Those are some strange looking errors. Have you done

npm install

First?

Sent from my mobile

[2019-12-04 17:04] lolejar commented on #23
of course I did, the npm install first time
- it created keys
- dtrace_provider complained about some errors
   (TypeError: '>=' not supported between instances of 'tuple' and 'str')
- got 5 vulnerabilities (found 5 vulnerabilities (1 low, 1 moderate, 3 high))

first time i've run it i've got errors about 2 dependencies that weren't able to be installed and required manual install (acorn@ˆ6.0.0 an

[2019-12-05 04:32] TimothyJones commented on #23
Thanks for the extra detail, that's very helpful. I'm trying to reproduce this now and I'll report back shortly.

You asked about `source config.sh` - it's not necessary in step 2a, which is why the instruction is missing. I might add a note to the readme to avoid confusion in the future.

Are there other areas where you found the setup instructions uncomprehensive?

[2019-12-05 05:09] TimothyJones commented on #23
Unfortunately, I'm unable to reproduce this locally.

Given the errors, I suspect the pact test is failing to wait for the server to start, so I've increased the test timeouts for those tests. I also upgraded the versions of a few dependencies.

Try pulling the latest version, then `npm install` followed by `npm test`

[2019-12-05 05:22] TimothyJones commented on #23
If you're still having trouble, I'd be interested in the error you're having with `node-gyp`.

The acorn and ajv-keywords peer-dependency warnings you can ignore - you don't need to install those packages (but it won't hurt if you did). I'll see if I can remove them with careful pruning of dependencies, but it's usually not possible.

[2019-12-05 14:41] lolejar commented on #23
Thank you very much it is working now. I have one questioned related though if you don't mind. I've attached Cognito configured user pool to AWS ALB. Everything works as far as I am logged in to GitHub before I attempt to login via ALB. I go to ALB I get Authorization / Login page and I am able to authenticate via OAuth app. But when I am not logged in github in another window (session) I get 500

[2019-12-05 23:57] TimothyJones commented on #23
So, there's an issue with GitHub where it rejects the `state` sent by Cognito when 2FA is enabled and the user is not logged in. We did a fair bit of testing and couldn't figure out exactly what the issue was - but we think it is to do with the length of the `state` parameter provided by Cognito.

You can work around this by generating your own (shorter) `state` token and sending them on to GitHub

[2019-12-06 00:00] TimothyJones opened #24 "Thank you very much it is working now. I have one questioned related though if you don't mind. I've attached Cognito configured user pool to AWS ALB. Everything works as far as I am logged in to GitHub before I attempt to login via ALB. I go to ALB I get Authorization / Login page and I am able to authenticate via OAuth app. But when I am not logged in github in another window (session) I get 500 (Looks like something went wrong!) page instead of Authorization / Login page."
_Originally posted by @lolejar in https://github.com/TimothyJones/github-cognito-openid-wrapper/issues/23#issuecomment-562158185_

There's an issue with GitHub where it rejects the state sent by Cognito when 2FA is enabled and the user is not logged in. We did a fair bit of testing and couldn't figure out exactly what the issue was - but we think it is to do with the length of the state parameter

[2019-12-09 10:09] lolejar commented on #24
well the best solution if possible would be to make it a feature switch. either create mongo db and map states or allow the old authentication. anyway me myself don't mind setting up extra resources as I have 2fa enabled and it makes life a bit harder not to be able to login straight but many people don't and for them it would not make sense to set up extra resources.

[2019-12-09 10:10] lolejar commented on #23
Thank you for reply. I answered to separate issue thread.

[2019-12-09 10:10] #23 closed

[2019-12-15 11:46] ispyinternet opened #25 "Refresh tokens"
Nice work! Whats the challenge with implementing the refresh token? I'm assuming Github provides this and its just a need to intercept the request and proxy? If there are no technical challenges you are aware of I will have a stab!?

[2019-12-26 10:09] holyjak opened #26 "Q: How to lock access down only to a particular GH Team?"
Hello, thank you very much for this great piece of work!

I have a question: I want to allow access only for members of a particular GH Team. Is it possible? How? Thank you!!!

[2020-01-03 01:51] DannyDouglass opened #27 "github accounts with 2FA fail"
@TimothyJones greetings! first off, thanks for the hard work on open sourcing this repo. I'm interested in providing support after getting a working example up and running in quick time thanks to this repo (i'll connect with a proposal i'm building in the near future).

in the meantime...one issue i'm running into is that github users with two-factor authentication enabled are unable to sign in. t

[2020-01-03 02:34] TimothyJones commented on #27
I believe it's a bug with either Cognito or GitHub, but I wasn't able to determine which. It's described in Issue #24.

It's possible to work around it with a bit of extra infrastructure (described in #24), but it's hard to provide a general recommendation that works for all loads, and since adding a Dynamo DB table is a fair bit of extra work (and potentially operational costs that not everyone w

[2020-01-03 02:37] TimothyJones commented on #27
I'm going to close this in favour of keeping discussion over at #24 - please feel free to add your thoughts there.

[2020-01-03 02:37] #27 closed

[2020-01-03 02:37] DannyDouglass commented on #27
thanks for the quick response @TimothyJones - i'll take a look at the issue and fork in more detail tomorrow. i'd like to contribute back to this repo as i think it's a very valuable resource. appreciate your time.

[2020-01-03 02:44] TimothyJones commented on #26
Yes, this is possible with some extra development effort. It depends a bit on your use case.

In another project, I added the github organisation / team metadata to the userinfo response, which the app then read to determine whether access was appropriate.

Another approach could be to add a callback to the wrapper, which would be called before the cognito callback. This callback would check the t

[2020-01-03 02:44] DannyDouglass commented on #24
hi folks - moving my input here after realizing i missed this issue in #27. imo, this idp option is incomplete without supporting 2fa, regardless of who is at fault. it's a tough pill to swallow to tell users you have to login to github externally first to allow for 2fa scenarios just to access a product leveraging this well-designed approach.

in my research, this is one of the only real resource

[2020-01-03 02:51] TimothyJones commented on #25
Apologies, somehow I missed this issue when you opened it.

I'm not certain whether Cognito uses refresh tokens with OpenID federation, so some investigation may be required. I don't believe it's mentioned in the [documentation for the flow](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-oidc-flow.html) - Cognito generates its own refresh tokens (which are mentioned),

[2020-01-03 03:24] TimothyJones commented on #25
Now that I think about this, one issue may be that GitHub doesn't issue refresh tokens (as far as I remember).

If this is the case, the feature would still be useful if people are using this wrapper for other OAuth services - I've thought about making that part more general.

[2020-01-03 03:38] TimothyJones commented on #24
I no longer have access myself (I've moved positions since then), but I've sent the team a message. I know it includes other proprietary changes, so I'm not sure they're able to share it directly.

I agree that it would be great if this wrapper "just works" with 2FA- although it's a lot of extra infrastructure to add for what is essentially a workaround.

This would be extremely welcome!

If it wo

[2020-01-03 03:41] DannyDouglass commented on #24
that would be killer @TimothyJones - i shot over a note with some thoughts as well.

[2020-01-03 03:41] TimothyJones commented on #24
Update: We can get the relevant parts up on a branch here for you to experiment with. I'll try to make this happen this weekend.

I don't have the time to test it and make sure it's ready to merge in, but if you can do that work, I'd be very happy to merge whatever you come up with.

[2020-01-03 03:42] DannyDouglass commented on #24
perfect - i'll take care of that. looking forward to contributing to this project on that note and moving fwd.

[2020-01-03 03:43] DannyDouglass commented on #24
i've already made changes to the existing repo to better support stages - i'll put up another branch w/ those changes tomorrow

[2020-01-03 03:43] DannyDouglass commented on #24
that SAM stage bug was annoying ;)

[2020-01-03 04:09] DannyDouglass commented on #24
@TimothyJones can you provide me push right to the repo for a branch?

[2020-01-03 04:14] TimothyJones commented on #24
I can't issue granular permissions without moving the repo to an organisation. Would you be able to fork and make a PR instead?

[2020-01-03 04:14] DannyDouglass commented on #24
sure! i'll set that up.

[2020-01-11 19:13] holyjak commented on #26
Thank you!

It turns out we have Azure AD which we need to use so I will not go this
way after all.

On Fri, Jan 3, 2020 at 3:44 AM Timothy Jones <notifications@github.com>
wrote:

[2020-01-16 00:54] TimothyJones commented on #26
No problem. I'll leave the ticket open, because adding a way to easily add this functionality would be useful.

[2020-01-16 00:55] TimothyJones commented on #25
@ispyinternet Did you get anywhere with this?

[2020-01-16 01:13] TimothyJones commented on #24
@DannyDouglass I've pushed a new branch with the code from the private fork. Unfortunately, I didn't have the git metadata from it, so I wasn't able to do a proper merge.

You'll have to read through the diff and bring back in the changes like logging and your stage updates. At the moment, it doesn't build.

https://github.com/TimothyJones/github-cognito-openid-wrapper/tree/workaround-2fa-bug

I'm

[2020-01-16 02:26] DannyDouglass commented on #24
awesome - thanks @TimothyJones! I'll be going over this tomorrow. Appreciate it.

[2020-01-16 08:23] ispyinternet commented on #25
Haven’t had a chance to look yet

[2020-02-06 05:39] lolejar commented on #26
just for info Timothy could you possibly merge that functionality with team/organization into this project ? i am looking into this for some time and since you already did it i would like not to reinvent a wheel. or just point me to some code where this is already done (if it is public). thank you so much.

[2020-02-17 08:28] lolejar commented on #26
sorry for bumping up but can someone help me / guide me on request above ?

[2020-02-17 10:35] TimothyJones commented on #26
So, it depends where you do the restriction.

If you control the server(s) where you want to use your user pool tokens, then extending the userinfo to include custom claims (such as organisation) is fairly straightforward - you would do so by adding another call to the promise array [here](https://github.com/TimothyJones/github-cognito-openid-wrapper/blob/master/src/openid.js#L9). Then, you could

[2020-03-10 08:51] akserg opened #31 "Can I use the access token to access the GitHub API?"
Hi @TimothyJones, thank you for share your code.

I successfully installed shim on my AWS account and I can log in to my application through registered GitHub App. My question is that - how can I get access to GitHub API, for example, to get a list of repositories or make a commit? I tried to use the access token and id token from Cognito User without luck.

I'm using `aws-amplify` library for log

[2020-03-10 12:40] TimothyJones commented on #31
This wrapper is for providing federated logins to Cogntio. With federated logins, the login method will be abstracted from your application, so you'll only see Cognito tokens (which won't be able to be used to access github).

However, if you really want to provide access to Github, I think you could put the github access token on the Cognito user object in cognito as a custom claim. Of course, if

[2020-03-16 10:46] #31 closed

[2020-03-16 10:46] akserg commented on #31
Thank you for the prompt answer.

[2020-05-07 15:28] adam-nygate commented on #24
Hi all, I don't suppose there's been any more work done to find the root cause of this issue? I suppose it's still a problem with the state parameter. Would it not be possible to use some kind of derived state to reduce the length of this parameter rather than making this wrapper _stateful_?

[2020-08-12 14:34] vradars234 opened #37 "Getting username attribute mapping required error"
I took a pull of the workaround-2fa-bug branch and ended up resolving the invalid state issue that i was facing by storing the state mapping in a dynamodb table. But after we send the state and authenticate code to cognito hosted domain I get the username attribute mapping required error even though I have already configured that in the attribute mapping section.

[2020-09-10 12:59] adam-nygate commented on #24
We've just tested this again and I can't seem to reproduce this error. Perhaps it was resolved by GitHub?

We've tried:
1. User is not logged in, app is not authorised, has MFA enabled.
1. User is logged in, app is not authorised, has MFA enabled.
1. User is not logged in, app is authorsed, has MFA enabled.
1. User is logged in, app is authorised, has MFA enabled.

Can anyone provide the steps to

[2020-10-11 16:32] mariusmitrofan opened #39 "GitHub Error - 400 error getting token"
:(

...

I'm hoping it's just a reconfiguration problem, but it doesn't look as so.

Apparently, the call to GitHub gets successfully executed, the actual login to GitHub is successful, but when the callback gets, done it seems, it fails miserably with the error in the title -> "GitHub Error - 400 error getting token" from Cognito.

I've compared the response from a provider that works (Google) an

[2020-10-12 11:51] mariusmitrofan commented on #39
@TimothyJones do you think you could help me on this ?

 I can't seem to find any step that I did wrong...

[2020-10-12 12:20] mariusmitrofan commented on #39
I'm a moron :+1:

Plugin works.

Please disregard...

[2020-10-12 12:20] #39 closed

[2020-10-12 14:49] TimothyJones commented on #39
Haha! We’ve all been there. Glad you got it working.

Is there anything I should make clearer in the documentation?

Sent from my mobile

[2020-10-17 15:37] kujtimiihoxha commented on #24
@TimothyJones I know this is an old issue but could it be that you forgot to add the `deploy-shim.sh` in your commit?

https://github.com/TimothyJones/github-cognito-openid-wrapper/blob/workaround-2fa-bug/package.json#L22

[2020-10-18 10:48] kujtimiihoxha commented on #37
@vradars234 what resolved the invalid state issue? I am facing the same issue also

[2020-11-01 01:34] safaiyeh opened #40 "Will I be able to consume the GitHub access_token?"
I will need the GitHub access_token for my app, how can I access that if possible?

https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#2-users-are-redirected-back-to-your-site-by-github

[2020-11-01 04:22] TimothyJones commented on #40
This wrapper doesn’t provide it because it doesn’t necessarily make sense. My advice would be to consume github oauth directly if you need this.

However, if for some reason you need to use cognito, you can find a short discussion on #31 that may help.

[2020-11-01 04:22] #40 closed

[2020-11-01 04:32] TimothyJones commented on #37
See #24 for discussion of the invalid state issue.

I’m unable to reproduce the attribute mapping error- have you double checked the rest of the setup instructions? Can you confirm the exact error that you are getting?

[2020-11-01 05:09] safaiyeh commented on #40
Thanks! I’ll try that out.

[2020-11-01 06:41] TimothyJones commented on #40
You’re welcome.

You’re not the first to ask about this, so it might make sense to add a pass-through for the token as an optional feature (even though it doesn’t make sense for most use cases, it would still be nice to enable it where possible).

[2020-11-05 05:38] safaiyeh commented on #40
Hey @TimothyJones following up on this!

I added the access_token as a custom attribute it seems like my Cognito User object doesn't return it.
![Screen Shot 2020-11-04 at 9 36 17 PM](https://user-images.githubusercontent.com/8675043/98201989-d08a4a00-1ee5-11eb-9a4b-2f101b04fc46.png)

![Screen Shot 2020-11-04 at 9 37 20 PM](https://user-images.githubusercontent.com/8675043/98202045-ee57af00-1ee5-1

[2020-11-05 05:44] safaiyeh commented on #31
hey @akserg how did you solve this problem? I also use Amplify

[2020-11-05 05:48] safaiyeh commented on #40
Actually, I didn't give it time to propagate. It shows up now

[2020-12-15 13:45] ButterBridge commented on #24
Hi @adam-nygate I came across this issue after experiencing this problem - user not logged in (incognito mode), app already authorised, with MFA enabled. Any update on progress? Would tie this together nicely - it's been such a nice repo to use!

[2020-12-15 14:06] adam-nygate commented on #24
Hey @ButterBridge, I've tried to replicate your conditions and not experiencing the 500 error. I'm not sure if it would make any difference, but we're using a custom (perhaps shorter) URL for the auth, and perhaps the standard cognito generated one is causing the erring state.

Let me know if I can help troubleshoot 🙂

[2020-12-16 22:34] shufflemattdev opened #42 "Way to add GitHub OAuth scopes"
Hi there thank you for this great wrapper! I am using a custom attribute to capture the GitHub access token, and I was wondering if there was a way to specify additional GitHub [OAuth Scopes](https://docs.github.com/en/free-pro-team@latest/developers/apps/scopes-for-oauth-apps)? The wrapper is currently requesting limited scopes to gather basic info like email, but in my case I need a bit more, is

[2020-12-17 13:14] TimothyJones commented on #42
Yes, this wrapper passes on any scopes it gets from Cognito. So, in the [finalise cognito configuration](https://github.com/TimothyJones/github-cognito-openid-wrapper#3-finalise-cognito-configuration) setup step, you can add scopes there.

Note that if you want to do anything with those scopes, it would have to be a code change. You would have to implement the client for anything extra in [the git

[2020-12-17 13:23] TimothyJones commented on #25
Further to this, it looks like github now supports refresh tokens, but only through their beta program (at the moment). I'm not sure if you'd want to rely on this in production, since ["features in the public beta are subject to change"](https://docs.github.com/en/free-pro-team@latest/developers/apps/activating-beta-features-for-apps):

https://docs.github.com/en/free-pro-team@latest/developers/ap

[2020-12-17 13:28] TimothyJones commented on #37
I'm assuming this got resolved - please feel free to reopen if that is not the case.

[2020-12-17 13:28] #37 closed

[2020-12-17 19:52] shufflemattdev commented on #42
Got it @TimothyJones got it thank you sir! Closing this

[2020-12-17 19:52] #42 closed

[2020-12-20 09:37] ButterBridge commented on #24
Hey @adam-nygate thanks for the suggestion - at some point I will put it on a domain and let you know if there are any issues! In the meantime it's a prettily easily avoidable circumstance...

[2021-02-04 15:12] busla commented on #3
Could you share your fix?

[2021-02-05 07:41] smohiuddin opened #45 "GitHub App vs Github OAuth App"
Will this wrapper still work with the newer Github App vs the Github OAuth App

https://docs.github.com/en/developers/apps/differences-between-github-apps-and-oauth-apps

[2021-02-05 10:28] TimothyJones commented on #45
No, this is a wrapper for GitHub’s OAuth, so the other style of GitHub apps won’t work to back it. I’m not sure what that would look like?

[2021-02-07 23:24] busla opened #46 "Failed to provide user info: Request failed with status code 403"
I want to start by saying, **thanks for sharing!**

So here is my issue.

Cognito is getting a 403 on the `/userinfo` endpoint so I am assuming the _Bearer_ token is invalid for some reason. Is this a common misconfiguration issue maybe on my part?

The `state` attribute is also `undefined` there but since the state is optional I think that's ok.

Here are the relevant debug logs with sensitive va

[2021-02-08 00:26] TimothyJones commented on #46
Hmm. I’m on mobile at the moment, so I’ll have to take a look when I am at my desk later.

It looks like we can improve the debug logs- it’s not clear where that error is coming from. It looks like the user information is being received correctly, though.

[2021-02-08 00:32] TimothyJones commented on #46
Looks like it’s the get user emails call that is failing.

[2021-02-08 07:14] busla commented on #46
ahh ok, thanks for looking at this so quickly (also on mobile).

I will take another debug session today with improved logging and maybe extend Winston formatting also.

[2021-02-08 23:32] busla commented on #46
Ok, took a look at this and you're right, it's the email GET and logging can also be improved a bit 😄 although I like the abstraction!

I added a naive error handler to log all error from axios to pick up the response from Github

And this is the Github response:

![image](https://user-images.githubusercontent.com/3162968/107294088-b3c15d80-6a64-11eb-85b6-adafa692f0d1.png)

**Naive error handler**

[2021-02-09 03:07] TimothyJones commented on #46
Glad it was an easy fix! Do the setup instructions need to be updated?

If you have time for a PR that puts debug logging around the github request / responses, I would happily accept it.

[2021-02-09 07:30] busla commented on #46
Yup, I will update the README and continue with improve the logging here
https://github.com/TimothyJones/github-cognito-openid-wrapper/pull/47

[2021-03-19 08:44] bensullivan opened #50 "Question: Can the auth flow to GitHub be initiated without the Cognito Hosted UI?"
Hi

We've got the flow setup which is great - thanks heaps for open sourcing this!!

Only thing is the UX is kinda sucky with the Cognito Hosted UI.  We also already have a custom login flow using React and aws sdk calls.

Given the shim is behind the scenes, can the auth flow to GitHub via the shim be initiated using an sdk call from our React app?

Thanks!

Ben

[2021-03-19 10:50] TimothyJones commented on #50
(Also, I will post the link tomorrow if I don’t hear back)

Sent from my mobile

[2021-03-20 00:47] bensullivan commented on #50
Ah ok that's great news.

Your doco is very clear and detailed which is good as these OAuth and OIDC flows I find complex.  Your flow diagrams are really helpful.

I guess I only assumed you had to use Hosted UI because the second bullet point in section "1: Setup" links to an AWS doco page entitled: "Add an App to Enable the Hosted Web UI".  I've checked the AWS SDK doco and I can't see anything

[2021-03-20 05:20] TimothyJones commented on #50
Oh, thanks! I'm really glad it's helpful.

I think what you're looking for is the `identity_provider` parameter for the `AUTHORIZATION` endpoint. https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html

If you supply that parameter directly (I believe the right value is the name of your app that you configured in Cognito - so `GitHubShim` in the documentation screensh

[2021-03-20 05:34] #46 closed

[2021-03-20 05:50] TimothyJones commented on #45
I'm going to close this for now. Please feel free to reopen with more details if this is something you need.

[2021-03-20 05:50] #45 closed

[2021-03-21 00:01] bensullivan commented on #50
Yeah ok so AWS confirmed the same - the endpoint should look like:

https://<your Cognito domain>/oauth2/authorize?identity_provider=<OIDC Provider name>&redirect_uri=<callback URL>&response_type=TOKEN&client_id=<app client id>&scope=email  openid profile

[2021-03-21 04:05] TimothyJones commented on #50
I don't think so. Those scopes aren't pushed to the shim. I think you only need `openid`, plus any custom scopes you require from your cognito user pool.

Yes, this is possible. I don't personally see why anyone would use the SDK, though - since Cognito provides an OpenID connect-compatible interface, you can use that and not tie yourself to cognito. The SDK probably has some advantage that I have

[2021-03-21 04:08] TimothyJones commented on #50
Looks like the link there is about direct access to the IDP (without involving the user pool), which might be exactly what you want if you're not using cognito's user. Although, if that's what you want, then I would do direct access to the shim instead?

[2021-03-21 06:21] bensullivan commented on #50
Well my understanding was that the shim (or is it Cognito?) create a user in Cognito when an authorisation is granted with a 3rd party OIDC provider?

Which link are you referring to?  `authorize` endpoint or the amplify AWS doc link?

I think we’ll keep the users in Cognito and just use the 3rd party providers for authn/z..

[2021-03-21 06:26] bensullivan commented on #50
How do you normally logout a user when you have the shim in play?  I'm thinking of the scenario where one has authorized cognito in github and then user logs out of github.  How does one force the cognito session to expire as well?

And conversely, if one logs out of cognito, does the shim remove the authorised clients in the GitHib OAuth app?

[2021-03-21 08:26] TimothyJones commented on #50
Just log them out of Cognito the same way you would without the shim. This is because users are logging in with Cognito, not the shim.

Your client app doesn't know about github, it only knows about Cognito. It is up to Cognito how to handle authentication. Now, Cognito is optionally (and in your case, entirely, I think) delegating its authentication to github. So, Cognito knows about github (well

[2021-03-21 08:42] TimothyJones commented on #50
Sorry, I wasn't clear. I meant that AWS Amplify link. I'm not super familiar with Amplify, though- take my read with a grain of salt. I also realise now that your original question asked about the aws sdk - apologies, I missed this on the first read.

Personally, unless there's a compelling reason to use the Amplify SDK for logins, I'd just use the [Auth API endpoints](https://docs.aws.amazon.com/

[2021-03-21 08:50] TimothyJones commented on #50
This is pretty much right, although Cognito creates the user. When a user logs in, Cognito uses the `userinfo` endpoint on the shim to find out what information it should create (or update) in its user pool. The shim doesn't know about Cognito (except for the redirect URI).

I think this is a good design, and from what you've described so far, it's also what I would do.

[2021-03-21 08:54] TimothyJones commented on #50
I'll close this for now, feel free to reopen or contact me by email if you need further clarification. As implied above, I've also got some limited availability at the moment, if you'd like me to take a more detailed look at your scenario.

[2021-03-21 08:54] #50 closed

[2021-03-21 08:59] TimothyJones commented on #24
@kujtimiihoxha Apologies, I missed replying to this for some reason. I believe that should be `scripts/deploy.sh`. The branch was created from a propriety modification of this repo- I would guess that some things were renamed when more deployables were added.

[2021-03-21 09:07] TimothyJones commented on #24
@adam-nygate That's a good observation. It's possible this is related to overall URL length, as the shorter state tokens helped.

I don't think there's anything in the shim that would cause this to be a problem, so a good next step for anyone who wants to get to the bottom of this might be to try to trigger the issue without including Cognito or the shim- at least then we'd be able to file a bug r

[2021-03-22 02:20] bensullivan commented on #50
Hello again Timothy,

Apologies just one more question (couldn't see how to reopen the issue) - from your flow diagrams, it seems that one would be able to use the access token provided by Cognito (that the shim has retrieved behind the scenes) to access GitHub directly?  That is, the access token provided to the shim from github is passed back to the Cognito client - is that right?

Reason I ask

[2021-03-22 02:24] bensullivan commented on #50
Hmm ignore me - I think I've just realised I'm talking about a GitHub personal access token :-)

[2021-03-22 04:23] TimothyJones commented on #50
No, that’s not correct. You get a cognito access token from cognito. Again, your app doesn’t know about GitHub, it only knows about cognito.

Cognito uses the GitHub access token to federate with GitHub and get the user’s details. It doesn’t pass that token on to its clients.

Sent from my mobile

[2021-03-26 06:58] bensullivan opened #51 "Using cognito /logout endpoint not initiating new authn handshake with GitHub"
Hi Timothy,

So the token integration is working well for us 🥳  with the authorize endpoint.

I'm now testing the clearing of the session via the /logout Cognito endpoint.  My scenario is as follows:

1.  Logout of GitHub
2.  Call the /logout Cognito endpoint
3.  Call the /oauth/authorize Cognito endpoint

My expectation is that I should be presented with the GitHub authentication screen but I am

[2021-03-26 07:16] bensullivan commented on #51
Interestingly, when the /oauth/authorize endpoint is called again in step three, although it's not triggering a new auth flow to GitHub, it is sending a new access and id token (ie different to the ones sent in the prior call to authorize before step 1).

So Cognito is starting a new session but for some reason not initiating the GitHub auth...

[2021-03-27 16:25] TimothyJones commented on #51
Yes, that’s right. This is exactly the situation I described on the other issue you raised.

When the user tries to log in to cognito, cognito defers them to GitHub.

If they are already logged in on GitHub, GitHub immediately returns a successful session to Cognito.

Only when they are not logged in on GitHub or have not yet authorized your application will they see the GitHub login page. This be

[2021-04-07 04:59] TimothyJones commented on #51
How did you go with this one? I’ll close for now, feel free to reopen if there is a problem

(I’m based in Melbourne, Australia)

[2021-04-07 04:59] #51 closed

[2021-04-07 06:02] bensullivan commented on #51
Hi yeah I solved it - turns out cognito session cookie doesn't work as expected if window.location.href used so I switched to putting the link in the html button.  Thanks again for your help!

[2021-04-07 06:10] bensullivan opened #53 "Authenticating With GitHub MFA"
Hi Timothy

We're pretty much all up and running!  Thanks again for contributing this project - it has helped us save time.

We have a scenario that has come up during testing where the authn flow for an account that has MFA enabled in GitHub returns a 500 after the creds are entered but before the token entry dialog is displayed.  Both of these pages are hosted by GitHub.  Authn flow works if MFA

[2021-04-07 07:47] TimothyJones commented on #51
Oh right! I've never tried it that way - always used the link. Glad it
works!

On Wed, 7 Apr 2021 at 16:02, Ben Sullivan ***@***.***> wrote:

[2021-04-07 07:48] TimothyJones commented on #53
Ah, this sounds like #24. I've never managed to get to the bottom of it (I think it is certainly a bug on one of their sides). See that issue for a workaround and discussion.

[2021-04-07 07:49] #53 closed

[2021-04-08 01:19] bensullivan commented on #24
Hi all,

I think I've just encountered this problem.  Here's what happened for me:

1.  GitHub account with MFA activated
2.  Logged out of GitHub
3.  App is not authorised
4.  Login to app - redirected to github authorize endpoint
5.  Enter github creds for GitHub account from step 1
6.  Boom! (ie expected dialog for GitHub MFA token entry but 500 instead)

I tried shortening the user pool domain

[2021-04-08 01:29] TimothyJones commented on #24
I do know that code based on that branch works in a couple of production environments. I haven't included it in the main repository because it's extra resources and expenses to work around a bug that may be fixed at some indeterminate time in the future.

If I had more time, I'd love to:

1) Figure out how to consistently reproduce the problem and file a bug report in the relevant place
2) Merge i

[2021-04-08 01:48] bensullivan commented on #24
OK - thanks @TimothyJones - I will keep you posted.

Also on chat with AWS Support atm to see if the state value passed to a federated OIDC can be customised.

Cheers

[2021-04-08 02:31] bensullivan commented on #24
Customisation of state param has been registered as feature request.  It's a no go for now.

[2021-04-08 08:17] bensullivan commented on #24
So I've got the `workaround-2fa-bug` branch up and running.  It's replacing the state with a uuid on the outbound leg which gets past the bug - yay!.  However, I can't see how the loginCallback is being exercised on the way back though - which means the Cognito state isn't being sent back to Cognito which causes a barf.  The LoginCallback doesn't seem to be a part of the sam packaging unless I hav

[2021-04-08 14:58] adam-nygate commented on #42
@TimothyJones do you know of any way to have scopes defined in a _passthrough_ manner?

My use case is that I'd like my app to have certain scopes during the initial registration, but on a certain event (user-initiated), we'd re-authorise them with the additional scopes?

[2021-06-08 19:58] athkalia opened #61 "Thoughts on how to update some custom claims coming from GitHub after the initial authorization in the OIDC flow"
Hello,

Thank you for this amazing library! I am using it successfully in a personal project.
I have a question and I was wondering if you could provide me with your thoughts on how to deal with the following:
(this is more of a Cognito question rather than a question for your wrapper, but I thought I'd give it a shot 🙏)

I have made some changes to this library to fetch some more information from

[2021-06-10 06:06] athkalia commented on #61
A simpler example would be: If the user updates their name on GitHub, how does that change propagates to Cognito? And is there a mechanism that I can use (or build) to make this propagate within a few seconds?

[2021-06-14 12:07] ibtehajn commented on #26
Thanks for the explanation and this super useful project. I am facing the same problem and was going to implement the first option above. Your comment gives me confidence that this approach can work.

[2021-06-14 12:21] TimothyJones commented on #26
You’re very welcome- I’m glad it helps!

If there’s anything I can do in the main repo to make your life easier, do let me know (and of course PRs are welcome if you end up making improvements that might be generally useful)

[2021-06-16 23:50] TimothyJones commented on #61
Yes, Cognito re-auths on login, which will propagate any changes to the user's information through to your user pool (as long as your shim is also exposing those changes). You can see the documentation here: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-oidc-flow.html

[2021-06-16 23:50] #61 closed

[2021-06-17 06:24] athkalia commented on #61
After investigating this a bit I think that you first need to logout the Cognito session by hitting the logout endpoint https://docs.aws.amazon.com/cognito/latest/developerguide/logout-endpoint.html , and then re-login to have Cognito reach all the way to GitHub. Otherwise, any authorize requests that happen within 1 hour will not reach github, they will be served by Cognito only.

[2021-07-07 13:55] sambhavjain9138 opened #63 "Undefined GITHUB_API_URL and GITHUB_LOGIN_URL"
Hii Team
I have used this package to configure github with Cognito. I have deployed the package in my local and have publically exposed it using Ngrok.
In the src/github.js file, the following 2 parameters are not defined in the config.sh file (Because a comment, in the config.sh file, states that it is only required for github enterprises). Can you please help with the place where these parameter

[2021-07-08 04:07] sambhavjain9138 commented on #3
[code]

@busla Can you replace the function in src/github.js, line 11 function with the above one? I ran into the same issue and found that these 2 parameters were undefined for me as I haven't specified it in my config.sh file because it was commented as not required. Let me know if this works for you

[2021-07-08 04:50] TimothyJones commented on #63
Thanks for this! I thought this was fixed already, but apparently not - now fixed by https://github.com/TimothyJones/github-cognito-openid-wrapper/commit/bb3ace5b87aa74200e226e72bfa21f59df90a8d0

[2021-07-08 04:50] #63 closed

[2021-07-08 12:09] sambhavjain9138 commented on #25
@TimothyJones The Link you last shared has provision to call for new access token using the refresh token. But, the link is for github apps and not Oauth app. Also I am not sure if i receive any refresh token from the github's side.
Can you please help me with this?

[2021-07-10 13:37] sambhavjain9138 commented on #24
Hii Everyone
I signed out of Github and enabled MFA for Cognito. Now when i signin with Github, I am asked to add password, then asked to enter verification code by Github and then successfully logged in to the callback URL.
If i am already logged in, It doesn't redirect me to any page for MFA from cognito and directly takes me to callback URL. Is this a normal workflow? Because I was expecting MF

[2021-07-10 13:42] TimothyJones commented on #24
@sambhavjain9138 I don’t know how cognito MFA works with federation, but I don’t think the question is in scope for this repo, I’m afraid.

As far as I’m aware, federated OpenID signin can’t affect cogntio’s MFA (or any other cognito feature beyond federation).

[2021-07-11 13:00] sambhavjain9138 commented on #24
Thanks @TimothyJones for that quick response. Apologies for asking an inappropriate ques out of the scope of the repo. Thanks for your help!

[2021-07-12 18:57] mfogel opened #64 "End of AWS Lambda support for nodejs10: July 30th"
Hi, thanks a bunch for putting this project together. Seriously.

You may already know, but AWS Lambda is [ending support for nodejs10 runtime](https://docs.aws.amazon.com/lambda/latest/dg/runtime-support-policy.html). Full support ends July 30th, 2021.

My understanding is that after July 30th, 2021, new users of this project won't be able to deploy it because of the [`Runtime`](https://github.co

[2021-08-06 11:43] ibtehajn opened #65 "Token endpoint does not verify client secret"
The `/token` endpoint currently proxies all requests to GitHub's `/login/oauth/access_token` API. It forwards the `code` and `state` supplied by the requestor and augments the GitHub request with the `GITHUB_CLIENT_SECRET` -- the original requestor doesn't need to know the client secret at all!

That means I could get an access token if I can sniff someone's authorization code. This seems to be a

[2021-10-22 09:54] ziggy6792 opened #68 "How to develop/test locally"
Hi

Thanks so much for sharing this. I followed your Readme and got it working incredibly easily.

I now want to adapt this to connect to LinkedIn. I see maybe someone tired [here](https://github.com/isotoma/linkedin-cognito-openid-wrapper) already but I think this is unfinished, I couldn't get it to work anyway.

My question is how do you locally develop this. Because at the moment I am deploying

[2021-11-03 01:21] #68 closed

[2021-12-20 17:02] kevingilbert100 commented on #65
+1

[2021-12-21 10:31] TimothyJones commented on #65
This seems like a much better design, and I have no idea why I didn't do it that way in the first place. A PR that sorts this out would be very welcome.

Also, sorry I missed this when you first posted it, @ibtehajn!

[2021-12-23 21:32] rryoung98 commented on #64
although I'm running into similar issues to #65, i think just upgrading the node version works just fine.

[2022-02-01 13:12] TimothyJones commented on #64
Fixed by #74

[2022-02-01 13:12] #64 closed

[2022-03-18 21:11] csumpter commented on #24
Did anyone ever get a resolution to this problem? We are running into the same issue.

[2022-05-03 23:57] shorn commented on #65
Alternate implementation based off of the wrapper that uses the `client_secret` to sign the JWT instead of a certifate: https://github.com/shorn/zinc/blob/main/aws-infra/lambda/doc/cognito-github.md

[2022-05-23 14:28] #22 closed

[2022-06-01 14:49] azatsafin opened #83 "How can I limit GitHub authentication only for users in my GitHub organization"
Hello, I would like to use GitHub user accounts and authenticate that user through Cognito. I have installed shim and it works so that GitHub users could authenticate via their GitHub accounts. I would like to limit users who can get authentication via GitHub by limiting them to my organization only. Is it possible? if so, could you please give advice on how to archive that?

[2022-06-02 06:51] TimothyJones commented on #83
You can see some discussion on this topic here - https://github.com/TimothyJones/github-cognito-openid-wrapper/issues/26

I recommend you put the user's organisations into the userinfo response, and then read those in the app to determine whether they should have access. This means a user might be able to log in, federate into Cognito, but then not have access to your app.

[2022-06-02 06:52] #83 closed

[2022-06-02 06:53] TimothyJones commented on #83
I'll close this for now - please feel free to reopen if you have further questions or the discussion on the other issue doesn't help.

[2022-08-30 16:43] ng-druid opened #85 "Github App Compatibility"
Is this compatible with Github Apps or is it limited in compatibility to Github OAuth Apps.

[2022-08-30 22:27] TimothyJones commented on #85
It has to be an OAuth app because it is for OAuth login.

Note that you don’t get a github token out of cognito, so you can’t use it to interact with github. It is for federated login with github.

[2022-08-31 13:36] TimothyJones commented on #85
I'm going to close this, but feel free to reopen if you have further questions.